body{
  margin: 0px;
}

.logo{
  height: 100px;
  margin-left: 80px;

}

#menu-button{
  height: 30px;
  margin-left: 50px;
}

.header{
  background-color: rgb(11, 3, 51);
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu{
  position: absolute;
  background-color: rgb(11, 3, 51);
  text-decoration: none;
  color:white ;
  height: 100%;
  width: 100%;
  top: 0;
  transition: 0.6s;
  margin-left: 800px;
  
}

#menu a{
display: flex;
  text-decoration: none;
  color: inherit;
  margin-left: 130px;
  margin-top: 20px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  

}

#menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

#xbtn{background-color: rgb(11, 3, 51) ;
  border: none;
  height: 30px;
  margin-left: 10px;
  margin-top: 10px;
  
}

.hero{
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  
  
  background-color: rgb(255, 255, 255);
  height: 200px;
  margin-top: 50px;
  width: 300px;
  margin-left: 8px;
  border-radius: 15px;
  border:none;
  border-color: black;
  border-width: 1px;
  box-shadow: 1px 1px 11px rgb(102, 102, 102);
  

}

.hero p{
  margin-left: 10px;
}

.hero-button .hero-button2{
  display: flex;
  justify-content:;
  height: 50px;

}